@using JULONG.TRAIN.Model;
@model JULONG.TRAIN.Model.Test
@{
    ViewBag.Title = "detail";
	ViewBag.menu1 = "考试";
	ViewBag.menu11 = Model.Name;
	//var eleCount = Model.Elements==null?0:Model.Elements.Count();
	
	BaseDBContext db = new BaseDBContext();
	
	int dataIndex= 0;
	int pageSize = 50;
	var results = db.TestResult.Where(d => d.TestId == Model.Id && d.SubmitDate != null).OrderByDescending(d => d.SubmitDate).Skip(dataIndex).Take(pageSize); 
}
<link href="~/Content/metronicAssets/admin/pages/css/profile.css" rel="stylesheet" />
<div ng-app="app" ng-controller="main">


	<div class="row">
		<div class="col-md-7">
			<div class="portlet green box">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>
						基本信息
					</div>
				</div>
				<div class="portlet-body">
					<div class="profile-usermenu" style="margin-top:0">
						<ul class="nav">
							<li>
								<a>
									<i class="icon-home"></i>
									创建时间： @Model.Date
								</a>
							</li>
							<li>
								<a>
									<i class="icon-settings"></i>
									采用试卷： @Model.Exam.Name
								</a>
							</li>
							<li>
								<a>
									<i class="icon-check"></i>
									试卷考题：@Model.Exam.QuestionCount 道 ( @Model.Exam.Value 分)
								</a>
							</li>
							<li>
								<a>
									<i class="icon-info"></i>
									运行状态： @{
										if (Model.IsOpen)
										{
																<button class="btn btn-warning" ng-click="activeTaggle(@Model.Id)">激活中</button>

										}
										else
										{
																<button class="btn btn-primary" ng-click="activeTaggle(@Model.Id)">关闭中</button>
										}
									}
                                    <button class="btn btn-danger" ng-click="activeTaggle(@Model.Id)">清楚考试记录</button>

								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="portlet green box">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>
						基本统计
					</div>
				</div>
				<div class="portlet-body">
					<div class="row list-separated profile-stat">
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="uppercase profile-stat-title">
								@{
									if (Model.IsOpen)
									{
										<span>@((DateTime.Now - Model.OpenDate.Value).Days)天</span>
									}
									else
									{
										if (Model.OpenDate.HasValue)
										{
											<span>@((Model.EndDate.Value - Model.OpenDate.Value).Days)天</span>
										}
										else
										{
											<span>未激活</span>
										}

									}
								}
							</div>
							<div class="uppercase profile-stat-text">
								激活时长
							</div>
						</div>
						@*<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="uppercase profile-stat-title">
					@Model.VisitCount
				</div>
				<div class="uppercase profile-stat-text">
					浏览量
				</div>
			</div>*@
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="uppercase profile-stat-title">
								@Model.JoinCount
							</div>
							<div class="uppercase profile-stat-text">
								参于人次
							</div>
						</div>
					</div>
					<div class="row list-separated profile-stat">
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="uppercase profile-stat-title">
								@(results.Min(d => d.Value).ToString())
							</div>
							<div class="uppercase profile-stat-text">
								最差成绩
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="uppercase profile-stat-title">
								@(results.Max(d => d.Value).ToString())
							</div>
							<div class="uppercase profile-stat-text">
								最好成绩
							</div>
						</div>
						@*<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="uppercase profile-stat-title">
					61
				</div>
				<div class="uppercase profile-stat-text">
					Uploads
				</div>
			</div>*@
					</div>
				</div>


			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="portlet yellow box ">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart theme-font "></i>
						考试记录 >> <button class="btn btn-xs btn-danger" ng-click="getResults(-1)">全部有效记录</button>
                        <button class="btn btn-xs btn-default" ng-click="getResults(-1,false)">全部无成绩记录</button>

					</div>
					<div class="actions">

					</div>
				</div>
				<div class="portlet-body">
					
					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light" border="1">
							<thead>
								<tr class="uppercase">
									<th >
										交卷时间
									</th>
									<th>
										员工
									</th>
									<th>
										工号
									</th>
									<th>
										部门
									</th>
									<th>
										用时
									</th>
									<th>
										正确数
									</th>
									<th>
										成绩
									</th>
                                    <th></th>
								</tr>
							</thead>

							<tbody>

								<tr ng-repeat="r in testResults">
									<td ng-bind="r.SubmitDate" >

									</td>
									<td ng-bind="r.Name" >
										
									</td>
									<td ng-bind="r.WorkID">
									
									</td>
									<td ng-bind="r.GroupName">

									</td>
									<td ng-bind="r.UseTime">

									</td>
									<td ng-bind="r.RightCount"> 

									</td>
									<td ng-bind="r.Value">

									</td>
                                    <td>
                                        <button ng-click="expClear(r.Id,$event)">重置</button>
                                        <button ng-if="r.Value!=null" ng-click="resultView(r.Id)">查看结果</button>
                                    </td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
@section footer{
	<script src="~/Content/j/angular.min.js"></script>
	<script>
		var mxApp = angular.module("app", []);
		mxApp.controller("main", ["$scope", "$http", function ($scope, $http) {
			ngInit($scope, $http);
			$scope.activeTaggle = function (id) {
				$scope.myAjax($http.post("/manage/test/activeTaggle/" + id), function () {
					self.location.reload();
				})
			}
			$scope.testResults = [];
			$scope.getResults = function ( pageIndex,hasValue) {
			    if(hasValue===undefined){hasValue=true;}
			    $scope.myAjax($http.post("/manage/test/getTestResults", { testid: @Model.Id, pageIndex: pageIndex ,pageSize:10,hasValue:hasValue}), function (res) {
			        $scope.testResults = res;
			    })
			};
		    $scope.getResults(0);
		    $scope.expClear=function(id,evt){
		        if (confirm("确认要重置该员工的考试吗")) {
		            myAjaxPost("/manage/test/ExpClear", { id:id}, function (res) {
		                $(evt.target).parents("tr").remove();
		            },
                    function (err) {
                        alert(err);
                    })
		        }
		    }
		    $scope.resultView=function(id){
		        window.open("/manage/test/ResultView/"+id)
		    }
		}])
	</script>
}