@using PagedList
@using PagedList.Mvc;
@using JULONG.TRAIN.Model;
@model IEnumerable<JULONG.TRAIN.Model.TestResult>

@{

	ViewBag.Title = "Index";
	ViewBag.menu1 = "考试管理";
	ViewBag.menu11 = "日志";
}



<table class="table">
    <tr>

        <th>
           提交时间
        </th>
		<th>
			员工
		</th>
		<th>
			考试
		</th>
        <th>
           用时
        </th>

        <th>
            得分
        </th>

        <th>
           正确数
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.SubmitDate)
        </td>
		<td>
			@item.TestElement.Student.Name
		</td>
		<td>
			@item.TestElement.Test.Name
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.UseTime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Value) @*/ @item.TestElement.Test.Exam.Value*@
        </td>

        <td>
            @item.RightCount @*/  @item.TestElement.Test.Exam.QuestionCount*@
        </td>

    </tr>
}

</table>
@Html.PagedListPager((IPagedList)Model, pageIndex => Url.Action("index", new { pageIndex }))